* {
    box-sizing: border-box;
    border: 1px solid;
}

body {
    font-family: sans-serif;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}

.header {
    background-color: white;
    padding: 30px;
}

.topnav {
    background-color: lightpink;
}

.main {
    background-color: lightblue;
}

.footer {
    background-color: lightgreen;
    padding: 30px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: auto;
    justify-content: flex-start;
    align-items: stretch;
}

.left {
    background-color: white;
    /*width: 25%;*/
}

.right {
    background-color: whitesmoke;
    flex-basis: 3em;
    flex-grow: 1;
}

/*.personal .left {*/
/*    order: 1;*/
/*}*/

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }
    .left {
        width: 25%;
    }

}